			<div class="footer">
				<div class="top">You may have seen us in</div>
				<div class="bottom">
					<div class="content">
						<div class="partnerLogos">
							<div class="partnerLogo">
								<a href=""><img src="/logos/bw-logo.jpg"></a>
							</div>
							<div class="partnerLogo">
								<a href=""><img src="/logos/crown-plaza-logo.jpg"></a>
							</div>
							<div class="partnerLogo">
								<a href=""><img src="/logos/galerija-logo.jpg"></a>
							</div>
							<div class="partnerLogo">
								<a href=""><img src="/logos/adore-logo.jpg"></a>
							</div>
						</div>
						<div class="inlinesWrap">
							<div class="inline">
								<div class="title">OUR ADDRESS</div>
								<div class="line">Serbia, Belgrade</div>
								<div class="line"><a href="">Highway for Novi Sad 69</a></div>
								<div class="line"><a href="mailto:office@terapot.eu">office@terapot.eu</a></div>
							</div>
							<div class="inline">
								<div class="title">CONTACT</div>
								<div class="line"><a href="tel:+38163227290">+381 63 227 290</a></div>
								<div class="line"><a href="tel:+38163247146">+381 63 247 146</a></div>
								<div class="line"><a href="/">www.terapot.eu</a></div>
							</div>
							<div class="inline">
								<div class="title">ONLINE CATALOGUE</div>
							</div>
						</div>
						<div class="copyright">
							2023 Terapot All Rights Reserved. Privacy Policy
						</div>
					</div>
				</div>
			</div>
		</div><!--#site-wrap-->
	</body>
</html>