<div id="site-menu">
	<div class="menuWrap">
		<div class="siteLogo">
			<img src="/logos/terapot-logo.png">
		</div>
		<div class="responsiveHandle" onclick="openMenu(this)">
			<div class="wrap">
				<div class="topBar"></div>
				<div class="middleBar"></div>
				<div class="bottomBar"></div>
			</div>
		</div>
		<div class="menuItems" id="menu-items">
			<div class="menuItem">
				<a href="/about">ABOUT</a>
			</div>
			<div class="menuItem">
				<a href="#">PRODUCTS</a>
				<div class="subMenu"></div>
			</div>
			<div class="menuItem">
				<a href="/why-fiberglass">WHY FIBERGLASS</a>
			</div>
			<div class="menuItem">
				<a href="/contact">CONTACT</a>
			</div>
		</div>
	</div>
</div>
<script>
	function openMenu(elem){
		if(elem.dataset.opened==1){
			//zatvori meni
			document.getElementById("menu-items").classList.remove("menuItemsActive");
			elem.classList.remove(elem.classList[0]+"Active");
			elem.dataset.opened = 0;
		}else{
			//Otvori meni
			elem.classList.add(elem.classList[0]+"Active");
			document.getElementById("menu-items").classList.add("menuItemsActive");
			elem.dataset.opened = 1;
		}
	}
</script>