<%- include ("partials/header") -%>
<div class="aboutUsPage">
	<div class="title">
		<img src="<%=bucket%>/images/About-Us-Title2.jpg">
	</div>
	<div class="textWrap">
		Nakon dugogodišnjeg iskustva u radu sa fiberglasom, 2015. godine odlučili smo da pokrenemo sopstvenu liniju proizvoda i tako je nastao brend Terapot koji se bavi proizvodnjom saksija od fiberglasa. 
		<br>&nbsp;<br>
		Od samog početka posvećivali smo pažnju svakom segmentu proizvodnje, počevši od dizajna, odabira najkvalitetnijih materijala, preko načina izrade pa sve do najsitnijih detalja u završnoj obradi. Kada odaberete Terapot, odabrali ste eleganciju i bezkompromisni kvalitet.
	</div>
	<div class="image">
		<img src="<%=bucket%>/images/Terapot-Team2.jpg">
	</div>
	
</div>
<%- include ("partials/footer") -%>