<%- include ("partials/header") -%>
<div class="aboutUsPage">
	<div class="title">
		<img src="/images/About-Us-Title2.jpg">
	</div>
	<div class="textWrap">
		Since our founding in 2015, Terapot has been dedicated to the art of crafting fiberglass planters with meticulous attention to detail. Our skilled craftsmen ensure every aspect is perfected, from the initial concept to the final finishing touches.
		<br>&nbsp;<br>
		As we continue to grow, our unwavering commitment to detail sets us apart. When you choose a Terapot planter, you choose elegance and sophistication, down to the smallest, most thoughtfully considered features. Thank you for joining us on this journey.
	</div>
	<div class="image">
		<img src="/images/Terapot-Team2.jpg">
	</div>
	
</div>
<%- include ("partials/footer") -%>