<%- include ("partials/header") -%>
<div class="homepage">
	<div class="homeHeader">
		<div class="homeSlidesWrap">
			<div id="home-slides"></div>
		</div>
		<div id="home-dots-wrap"></div>
		<div class="writtingWrap">
			<div class="title">HANDCRAFTED FIBERGLASS POTS <span class="break"><br></span>FOR TIMELESS DURABILITY</div>
			<div class="text">Fiberglass is a material made of very fine fibers of glass,<span class="break"><br></span>used in the construction of boats, automobiles, marine and<span class="break"><br></span>aerospace. It has superb weight to strenght ratio and<span class="break"><br></span>resistance to all weather conditions.</div>
			<div class="buttonsWrap">
				<div class="button blackButton"><a href="#explore-products">EXPLORE PRODUCT</a></div>
				<div class="button"><a href="#footer">CONTACT US</a></div>
			</div>
			<div class="buttonsWrap buttonsWrapResponsive">
				<div class="button"><a href="#footer">CONTACT US</a></div>
				<div class="button blackButton"><a href="#explore-products">EXPLORE PRODUCT</a></div>
			</div>
		</div>
		<div class="scrollDown">
			<a href="#home-scroll"><img src="/icons/arrow-down.png"></a>
		</div>
		
	</div>
	<div class="craftedToLast" id="home-scroll">
		<img class="nonResponsive" src="/images/Terapot-Crafted-To-Last-en.jpg">
		<img class="responsive" src="/images/Terapot-Crafted-To-Last-Mobilni-en.jpg">
	</div>
	<div class="homeProducts" style="position:relative">
		<div id="explore-products" style="top:-100px;position:absolute;"></div>
		<div class="section">
			<div class="sectionTitle">Products</div>
			<div class="sectionSubTitle"></div>
		</div>
		<div class="productsWrap">
			<div class="productWrap">
				<div class="background"><img src="/images/Pozadina-Saksija-Naslovna.jpg"></div>
				<div class="image"><img src="/images/Tara-Naslovna.png"></div>
				<div class="arrow"><img src="/icons/Product-Responsive-Arrow.png"></div>
				<div class="topWrap">
					<div class="title"><span class="name">Tara </span><span class="nr"><br></span>Collection</div>
					<div class="categories">
						<div class="category">90</div>
						<div class="category">105</div>
						<div class="category">120</div>
					</div>
				</div>
				<a href="/pots/tara" class="potLink"></a>
			</div>
			<div class="productWrap">
				<div class="background"><img src="/images/Pozadina-Saksija-Naslovna.jpg"></div>
				<div class="image"><img src="/images/Drina-Naslovna.png"></div>
				<div class="arrow"><img src="/icons/Product-Responsive-Arrow.png"></div>
				<div class="topWrap">
					<div class="title"><span class="name">Drina </span><span class="nr"><br></span>Collection</div>
					<div class="categories">
						<div class="category">90</div>
						<div class="category">105</div>
						<div class="category">120</div>
						<div class="category">200</div>
					</div>
				</div>
				<a href="/pots/drina" class="potLink"></a>
			</div>
			<div class="productWrap">
				<div class="background"><img src="/images/Pozadina-Saksija-Naslovna.jpg"></div>
				<div class="image"><img src="/images/Round-Naslovna.png"></div>
				<div class="arrow"><img src="/icons/Product-Responsive-Arrow.png"></div>
				<div class="topWrap">
					<div class="title"><span class="name">Round </span><span class="nr"><br></span>Collection</div>
					<div class="categories">
						<div class="category">50</div>
						<div class="category">55</div>
						<div class="category">65</div>
						<div class="category">70</div>
						<div class="category">90</div>
					</div>
				</div>
				<a href="/pots/round" class="potLink"></a>
			</div>
			<div class="productWrap">
				<div class="background"><img src="/images/Pozadina-Saksija-Naslovna.jpg"></div>
				<div class="image"><img src="/images/Tisa-Naslovna.png"></div>
				<div class="arrow"><img src="/icons/Product-Responsive-Arrow.png"></div>
				<div class="topWrap">
					<div class="title"><span class="name">Tisa </span><span class="nr"><br></span>Collection</div>
					<div class="categories">
						<div class="category">43</div>
						<div class="category">50</div>
						<div class="category">60</div>
						<div class="category">70</div>
						<div class="category">90</div>
					</div>
				</div>
				<a href="/pots/tisa" class="potLink"></a>
			</div>
			<div class="productWrap">
				<div class="background"><img src="/images/Pozadina-Saksija-Naslovna.jpg"></div>
				<div class="image"><img src="/images/Oblo-Naslovna.png"></div>
				<div class="arrow"><img src="/icons/Product-Responsive-Arrow.png"></div>
				<div class="topWrap">
					<div class="title"><span class="name">Oblo </span><span class="nr"><br></span>Collection</div>
					<div class="categories">
						<div class="category">55</div>
						<div class="category">76</div>
						<div class="category">98</div>
						<div class="category">116</div>
						<div class="category">144</div>
					</div>
				</div>
				<a href="/pots/oblo" class="potLink"></a>
			</div>
			<div class="productWrap">
				<div class="background"><img src="/images/Pozadina-Saksija-Naslovna.jpg"></div>
				<div class="image"><img src="/images/Standard-Naslovna.png"></div>
				<div class="arrow"><img src="/icons/Product-Responsive-Arrow.png"></div>
				<div class="topWrap">
					<div class="title"><span class="name">Standard </span><span class="nr"><br></span>Collection</div>
					<div class="categories">
						<div class="category">custom made</div>
					</div>
				</div>
				<a href="/pots/standard" class="potLink"></a>
			</div>
		</div>
	</div>
	<div class="newArrivals" id="new-arrivals-wrap">
		<div class="section">
			<div class="sectionTitle">New arrivals</div>
			<div class="sectionSubTitle"></div>
		</div>
		<div class="newArrivalsWrap" id="new-arrivals">
			<div class="background"><img src="/images/New-Arrivals-Pozadina.jpg"></div>
			<div class="backgroundResponsive"><img src="/images/New-Arrivals-Pozadina-Responsive.jpg"></div>
			<!--<div class="navigation">
				<div class="nav" onclick="navArrivals(-1)"><img src="/icons/Arrow-Left.png"></div>
				<div class="nav" onclick="navArrivals(1)"><img src="/icons/Arrow-Right.png"></div>
			</div>-->
			<div id="arrivals-line-nav"></div>
			<div class="slide">
				<div class="imageWrap">
					<img src="/images/New-Arrivals-Quadro.png">
					<div class="title"><span>Quadro</span> Collection</div>
				</div>
				<div class="responsive">
					<img src="/images/New-Arrivals-Quadro-Responsive.png">
					<div class="title"><span>Quadro</span> Collection</div>
				</div>
			</div>
			<!--<div class="slide">
				<div class="imageWrap">
					<img src="/images/New-Arrivals-Quadro.png">
					<div class="title">Quadro Collection</div>
				</div>
				<div class="responsive">
					<img src="/images/New-Arrivals-Quadro-Responsive.png">
					<div class="title">Quadro Collection</div>
				</div>
			</div>
			<div class="slide">
				<div class="imageWrap">
					<img src="/images/New-Arrivals-Quadro.png">
					<div class="title">3333333333333</div>
				</div>
				<div class="responsive">
					<img src="/images/New-Arrivals-Quadro-Responsive.png">
					<div class="title">33333333333333</div>
				</div>
			</div>
			<div class="slide">
				<div class="imageWrap">
					<img src="/images/New-Arrivals-Quadro.png">
					<div class="title">4444444444444</div>
				</div>
				<div class="responsive">
					<img src="/images/New-Arrivals-Quadro-Responsive.png">
					<div class="title">444444444444444</div>
				</div>
			</div>-->
		</div>
		<script src="/js/homescripts.js"></script>
	</div>
	<div class="whyFiberglass section" style="position:relative">
		<div id="why-fiberglass" style="position:absolute;top:-100px"></div>
		<div class="sectionTitle">Why Terapot</div>
		<div class="sectionSubTitle">| six key benefits |</div>
		<div class="tableWrap">
			<table>
				<tr>
					<td><div class="title">Lightweight</div></td>
					<td><div class="title">Durability</div></td>
					<td><div class="title">Weather Resistance</div></td>
				</tr>
				<tr>
					<td><div class="text">Our planters are incredibly lightweight, making them easy to move and arrange in your desired space. Say goodbye to heavy lifting and hello to effortless gardening.</div></td>
					<td><div class="text">Built to last, our planters are made with high-quality materials to withstand the test of time and resist wear and tear, ensuring your plants thrive for years to come.</div></td>
					<td><div class="text">With no corrosion worries and UV protection, our planters are tough enough to endure various weather conditions, keeping their vibrant colors and impeccable finish intact.</div></td>
				</tr>
				<tr>
					<td><div class="border"></div></td>
					<td><div class="border"></div></td>
					<td><div class="border"></div></td>
				</tr>
				<tr>
					<td><div class="icon"><img src="/icons/Lightweight-Ikonica.jpg"></div></td>
					<td><div class="icon"><img src="/icons/Durability-Ikonica.jpg"></div></td>
					<td><div class="icon"><img src="/icons/Weather-Resistance-Ikonica.jpg"></div></td>
				</tr>
			</table>
			<table>
				<tr>
					<td><div class="title">Strength</div></td>
					<td><div class="title">Handcrafted</div></td>
					<td><div class="title">Cost-Effective</div></td>
				</tr>
				<tr>
					<td><div class="text">Inspired by aerospace and marine engineering, our planters are crafted from fiberglass, bringing the strength and reliability of spaceships, airplanes, and yachts to your garden.</div></td>
					<td><div class="text">Each planter is handcrafted by skilled craftsmen, adding a touch of craft and uniqueness to every piece that leaves our workshop.</div></td>
					<td><div class="text">Planters may cost more upfront compared to other materials, but their superior durability ensures they outlast traditional options like wood, concrete, and metal, saving you money in the long run.</div></td>
				</tr>
				<tr>
					<td><div class="border"></div></td>
					<td><div class="border"></div></td>
					<td><div class="border"></div></td>
				</tr>
				<tr>
					<td><div class="icon"><img src="/icons/Strength-Ikonica.jpg"></div></td>
					<td><div class="icon"><img src="/icons/Handcrafted-Ikonica.jpg"></div></td>
					<td><div class="icon"><img src="/icons/Cost-Ikonica.png"></div></td>
				</tr>
			</table>
		</div>
		<div class="responsive">
			<div class="item">
				<div class="textWrap">
					<div class="title">Lightweight</div>
					<div class="text">Our planters are incredibly lightweight, making them easy to move and arrange in your desired space. Say goodbye to heavy lifting and hello to effortless gardening.</div>
					<div class="border"></div>
				</div>
				<div class="imageWrap">
					<img src="/icons/Lightweight-Ikonica.jpg">
				</div>
			</div>
			<div class="item">
				<div class="textWrap">
					<div class="title">Weather Resistance</div>
					<div class="text">Each planter is handcrafted by skilled craftsmen, adding a touch of craft and uniqueness to every piece that leaves our workshop.</div>
					<div class="border"></div>
				</div>
				<div class="imageWrap">
					<img src="/icons/Weather-Resistance-Ikonica.jpg">
				</div>
			</div>
			<div class="item">
				<div class="textWrap">
					<div class="title">Durability</div>
					<div class="text">With no corrosion worries and UV protection, our planters are tough enough to endure various weather conditions, keeping their vibrant colors and impeccable finish intact.</div>
					<div class="border"></div>
				</div>
				<div class="imageWrap">
					<img src="/icons/Durability-Ikonica.jpg">
				</div>
			</div>
			<div class="hiddenProperties" id="hidden-properties">
				<div class="item">
					<div class="textWrap">
						<div class="title">Strength</div>
						<div class="text">Inspired by aerospace and marine engineering, our planters are crafted from fiberglass, bringing the strength and reliability of spaceships, airplanes, and yachts to your garden.</div>
						<div class="border"></div>
					</div>
					<div class="imageWrap">
						<img src="/icons/Strength-Ikonica.jpg">
					</div>
				</div>
				<div class="item">
					<div class="textWrap">
						<div class="title">Handcrafted</div>
						<div class="text">Each planter is handcrafted by skilled craftsmen, adding a touch of craft and uniqueness to every piece that leaves our workshop.</div>
						<div class="border"></div>
					</div>
					<div class="imageWrap">
						<img src="/icons/Handcrafted-Ikonica.jpg">
					</div>
				</div>
				<div class="item">
					<div class="textWrap">
						<div class="title">Cost-effective</div>
						<div class="text">Planters may cost more upfront compared to other materials, but their superior durability ensures they outlast traditional options like wood, concrete, and metal, saving you money in the long run.</div>
						<div class="border"></div>
					</div>
					<div class="imageWrap">
						<img src="/icons/Cost-Ikonica.png">
					</div>
				</div>
			</div>
			<div class="expand">
				<div class="icon" onclick="expandProperties(this)">
					<img src="/icons/arrow-down.png">
				</div>
				<script>
					function expandProperties(elem){
						document.getElementById("hidden-properties").style.display="block";
						elem.style.display="none";
					}
				</script>
			</div>
		</div>
		<div class="buttonsWrap">
			<div class="button"><a href="/why-fiberglass">FIND MORE</a></div>
		</div>
	</div>
	<div class="circularPots">
		<div class="section">
			<div class="sectionTitle">Circular pots</div>
			<div class="sectionSubTitle">| drina | tisa | tara | oblo | round | quadro |</div>
		</div>
		<div class="circularPot">
			<div class="background"><img src="/images/Kruzna-Saksija-Presek-Terapot.jpeg"></div>
			<div class="info"><img src="/images/Kruzna-Saksija-Presek-Informacije.png"></div>
			<div class="textWrap">
				<div class="section">
					<div class="textTitle">Crafting excellence</div>
					<div class="text" style="border-right:1px solid rgba(0,0,0,0.5)">Terapot proudly presents our circular pots, expertly crafted from a fiberglass laminate with a four-layer composition. This includes a premium fiberglass layer for durability, a top gelcoat for a smooth finish, a primer for added protection, and a top coat of high quality paint.</div>
				</div>
			</div>
		</div>
		<div class="circularPotResponsive">
			<div class="background"><img src="/images/Circular-Pot-Responsive.jpeg"></div>
			<div class="info"><img src="/images/Circular-Pot-Responsive-Info.png"></div>
		</div>
	</div>
	<div class="rectangularPots">
		<div class="section">
			<div class="sectionTitle">Rectangular pots</div>
			<div class="sectionSubTitle">| standard pots |</div>
		</div>
		<div class="rectangularPot">
			<div class="background"><img src="/images/Presek-Terapot-Saksije.jpeg"></div>
			<div class="info"><img src="/images/Presek-Terapot-Saksije-Informacije.png"></div>
			<div class="textWrap">
				<div class="section">
					<div class="textTitle">Hypercore construction</div>
					<div class="text" style="border-left:1px solid rgb(0,0,0,0.5)">The collection of rectangular pots is individually handcrafted from a special Hypercore construction panel consisting of a polypropylene sheet in the middle and fiberglass layers on both sides. In contrast to conventional versions made of fiberglass sheets, which can bend and break over time, our planters are characterized by their durability.</div>
				</div>
			</div>
		</div>
		<div class="rectangularPotResponsive">
			<div class="background"><img src="/images/Rectangular-Pot-Responsive.jpeg"></div>
			<div class="info"><img src="/images/Rectangular-Pot-Responsive-Info.png"></div>
		</div>
	</div>
</div>
<%- include ("partials/footer") -%>