<%- include ("partials/header") -%>
<div class="homepage">
	<div class="homeHeader">
		<div class="homeSlidesWrap">
			<div id="home-slides"></div>
		</div>
		<div id="home-dots-wrap"></div>
		<div class="writtingWrap">
			<div class="title">RUČNO RAĐENE FIBERGLAS <span class="break"><br></span>SAKSIJE KOJE ĆE TRAJATI <span class="break"><br></span>KROZ GENERACIJE</div>
			<div class="text">Fiberglas je materijal napravljen od veoma finih staklenih vlakana<span class="break"><br></span>koji se koristi u izgradnji čamaca, automobila, marina i vazduhoplovstva.<span class="break"><br></span>Ima odličan odnos težine i čvrstoće I otpornost na sve vremenske uslove.</div>
			<div class="buttonsWrap">
				<div class="button blackButton"><a href="#explore-products">ISTRAŽI</a></div>
				<div class="button"><a href="#footer">KONTAKTIRAJ NAS</a></div>
			</div>
			<div class="buttonsWrap buttonsWrapResponsive">
				<div class="button"><a href="#footer">KONTAKTIRAJ NAS</a></div>
				<div class="button blackButton"><a href="#explore-products">ISTRAŽI</a></div>
			</div>
		</div>
		<div class="scrollDown">
			<a href="#home-scroll"><img src="/icons/arrow-down.png"></a>
		</div>
		
	</div>
	<div class="craftedToLast" id="home-scroll">
		<img class="nonResponsive" src="/images/Terapot-Crafted-to-last.jpeg">
		<img class="responsive" src="/images/Terapot-Crafted-To-Last-Mobilni.jpeg">
	</div>
	<div class="homeProducts" style="position:relative">
		<div id="explore-products" style="top:-100px;position:absolute;"></div>
		<div class="section">
			<div class="sectionTitle">Proizvodi</div>
			<div class="sectionSubTitle"></div>
		</div>
		<div class="productsWrap">
			<div class="productWrap">
				<div class="background"><img src="/images/Pozadina-Saksija-Naslovna.jpg"></div>
				<div class="image"><img src="/images/Tara-Naslovna.png"></div>
				<div class="arrow"><img src="/icons/Product-Responsive-Arrow.png"></div>
				<div class="topWrap">
					<div class="title"><span class="name">Tara </span><span class="nr"><br></span>Kolekcija</div>
					<div class="categories">
						<div class="category">90</div>
						<div class="category">105</div>
						<div class="category">120</div>
					</div>
				</div>
				<a href="/rs/saksije/tara" class="potLink"></a>
			</div>
			<div class="productWrap">
				<div class="background"><img src="/images/Pozadina-Saksija-Naslovna.jpg"></div>
				<div class="image"><img src="/images/Drina-Naslovna.png"></div>
				<div class="arrow"><img src="/icons/Product-Responsive-Arrow.png"></div>
				<div class="topWrap">
					<div class="title"><span class="name">Drina </span><span class="nr"><br></span>Kolekcija</div>
					<div class="categories">
						<div class="category">90</div>
						<div class="category">105</div>
						<div class="category">120</div>
						<div class="category">200</div>
					</div>
				</div>
				<a href="/rs/saksije/drina" class="potLink"></a>
			</div>
			<div class="productWrap">
				<div class="background"><img src="/images/Pozadina-Saksija-Naslovna.jpg"></div>
				<div class="image"><img src="/images/Round-Naslovna.png"></div>
				<div class="arrow"><img src="/icons/Product-Responsive-Arrow.png"></div>
				<div class="topWrap">
					<div class="title"><span class="name">Round </span><span class="nr"><br></span>Kolekcija</div>
					<div class="categories">
						<div class="category">50</div>
						<div class="category">55</div>
						<div class="category">65</div>
						<div class="category">70</div>
						<div class="category">90</div>
					</div>
				</div>
				<a href="/rs/saksije/round" class="potLink"></a>
			</div>
			<div class="productWrap">
				<div class="background"><img src="/images/Pozadina-Saksija-Naslovna.jpg"></div>
				<div class="image"><img src="/images/Tisa-Naslovna.png"></div>
				<div class="arrow"><img src="/icons/Product-Responsive-Arrow.png"></div>
				<div class="topWrap">
					<div class="title"><span class="name">Tisa </span><span class="nr"><br></span>Kolekcija</div>
					<div class="categories">
						<div class="category">43</div>
						<div class="category">50</div>
						<div class="category">60</div>
						<div class="category">70</div>
						<div class="category">90</div>
					</div>
				</div>
				<a href="/rs/saksije/tisa" class="potLink"></a>
			</div>
			<div class="productWrap">
				<div class="background"><img src="/images/Pozadina-Saksija-Naslovna.jpg"></div>
				<div class="image"><img src="/images/Oblo-Naslovna.png"></div>
				<div class="arrow"><img src="/icons/Product-Responsive-Arrow.png"></div>
				<div class="topWrap">
					<div class="title"><span class="name">Oblo </span><span class="nr"><br></span>Kolekcija</div>
					<div class="categories">
						<div class="category">55</div>
						<div class="category">76</div>
						<div class="category">98</div>
						<div class="category">116</div>
						<div class="category">144</div>
					</div>
				</div>
				<a href="/rs/saksije/oblo" class="potLink"></a>
			</div>
			<div class="productWrap">
				<div class="background"><img src="/images/Pozadina-Saksija-Naslovna.jpg"></div>
				<div class="image"><img src="/images/Standard-Naslovna.png"></div>
				<div class="arrow"><img src="/icons/Product-Responsive-Arrow.png"></div>
				<div class="topWrap">
					<div class="title"><span class="name">Standard </span><span class="nr"><br></span>Kolekcija</div>
					<div class="categories">
						<div class="category">napravljeno po meri</div>
					</div>
				</div>
				<a href="/rs/saksije/standard" class="potLink"></a>
			</div>
		</div>
	</div>
	<div class="newArrivals" id="new-arrivals-wrap">
		<div class="section">
			<div class="sectionTitle">Nove kolekcije</div>
			<div class="sectionSubTitle"></div>
		</div>
		<div class="newArrivalsWrap" id="new-arrivals">
			<div class="background"><img src="/images/New-Arrivals-Pozadina.jpg"></div>
			<div class="backgroundResponsive"><img src="/images/New-Arrivals-Pozadina-Responsive.jpg"></div>
			<!--<div class="navigation">
				<div class="nav" onclick="navArrivals(-1)"><img src="/icons/Arrow-Left.png"></div>
				<div class="nav" onclick="navArrivals(1)"><img src="/icons/Arrow-Right.png"></div>
			</div>-->
			<div id="arrivals-line-nav"></div>
			<div class="slide">
				<div class="imageWrap">
					<img src="/images/New-Arrivals-Quadro.png">
					<div class="title"><span>Quadro</span> Kolekcija</div>
				</div>
				<div class="responsive">
					<img src="/images/New-Arrivals-Quadro-Responsive.png">
					<div class="title"><span>Quadro</span> Kolekcija</div>
				</div>
			</div>
			<!--<div class="slide">
				<div class="imageWrap">
					<img src="/images/New-Arrivals-Quadro.png">
					<div class="title">Quadro Collection</div>
				</div>
				<div class="responsive">
					<img src="/images/New-Arrivals-Quadro-Responsive.png">
					<div class="title">Quadro Collection</div>
				</div>
			</div>
			<div class="slide">
				<div class="imageWrap">
					<img src="/images/New-Arrivals-Quadro.png">
					<div class="title">3333333333333</div>
				</div>
				<div class="responsive">
					<img src="/images/New-Arrivals-Quadro-Responsive.png">
					<div class="title">33333333333333</div>
				</div>
			</div>
			<div class="slide">
				<div class="imageWrap">
					<img src="/images/New-Arrivals-Quadro.png">
					<div class="title">4444444444444</div>
				</div>
				<div class="responsive">
					<img src="/images/New-Arrivals-Quadro-Responsive.png">
					<div class="title">444444444444444</div>
				</div>
			</div>-->
		</div>
		<script src="/js/homescripts.js"></script>
	</div>
	<div class="whyFiberglass section" style="position:relative">
		<div id="why-fiberglass" style="position:absolute;top:-100px"></div>
		<div class="sectionTitle">Zašto Terapot</div>
		<div class="sectionSubTitle">| šest ključnih prendosti |</div>
		<div class="tableWrap">
			<table>
				<tr>
					<td><div class="title">Lakoća</div></td>
					<td><div class="title">Dugotrajnost</div></td>
					<td><div class="title">Otpornost na vremenske uslove</div></td>
				</tr>
				<tr>
					<td><div class="text">Sve naše saksije su izuzetno lagane, što ih čini jednostavnim za premeštanje i postavljanje. Posebno je korisno ukoliko često pomerate svoje biljke ili želite da smanjite opterećenje prilikom sadnje.</div></td>
					<td><div class="text">Saksije su napravljene od visokokvalitetnih materijala kako bi odolele vremenu i očuvale se od habanja, osiguravajući da vaše biljke rastu u godinama koje slede.</div></td>
					<td><div class="text">Uz naše saksije od fiberglasa korozija postaje prošlost. Fiberglas je otporan na vlagu i UV zračenje, što ga čini savršenim materijalom za uređenje vašeg dvorišta.</div></td>
				</tr>
				<tr>
					<td><div class="border"></div></td>
					<td><div class="border"></div></td>
					<td><div class="border"></div></td>
				</tr>
				<tr>
					<td><div class="icon"><img src="/icons/Lightweight-Ikonica.jpg"></div></td>
					<td><div class="icon"><img src="/icons/Durability-Ikonica.jpg"></div></td>
					<td><div class="icon"><img src="/icons/Weather-Resistance-Ikonica.jpg"></div></td>
				</tr>
			</table>
			<table>
				<tr>
					<td><div class="title">Jačina</div></td>
					<td><div class="title">Ručni rad</div></td>
					<td><div class="title">Isplativost</div></td>
				</tr>
				<tr>
					<td><div class="text">Inspirisane aero i nautičkim inženjeringom, naše saksije izrađene od fiberglasa, donose snagu i pouzdanost svemirskih brodova, aviona i jahti u vaš vrt.</div></td>
					<td><div class="text">Svaka saksija je ručno izrađena od strane veštih majstora, dodajući poseban pečat jedinstvenosti svakom komadu koji napušta našu radionicu.</div></td>
					<td><div class="text">Planters may cost more upfront compared to other materials, but their superior durability ensures they outlast traditional options like wood, concrete, and metal, saving you money in the long run.</div></td>
				</tr>
				<tr>
					<td><div class="border"></div></td>
					<td><div class="border"></div></td>
					<td><div class="border"></div></td>
				</tr>
				<tr>
					<td><div class="icon"><img src="/icons/Strength-Ikonica.jpg"></div></td>
					<td><div class="icon"><img src="/icons/Handcrafted-Ikonica.jpg"></div></td>
					<td><div class="icon"><img src="/icons/Cost-Ikonica.png"></div></td>
				</tr>
			</table>
		</div>
		<div class="responsive">
			<div class="item">
				<div class="textWrap">
					<div class="title">Lakoća</div>
					<div class="text">Sve naše saksije su izuzetno lagane, što ih čini jednostavnim za premeštanje i postavljanje. Posebno je korisno ukoliko često pomerate svoje biljke ili želite da smanjite opterećenje prilikom sadnje.</div>
					<div class="border"></div>
				</div>
				<div class="imageWrap">
					<img src="/icons/Lightweight-Ikonica.jpg">
				</div>
			</div>
			<div class="item">
				<div class="textWrap">
					<div class="title">Otpornost na vremenske uslove </div>
					<div class="text">Uz naše saksije od fiberglasa korozija postaje prošlost. Fiberglas je otporan na vlagu i UV zračenje, što ga čini savršenim materijalom za uređenje vašeg dvorišta.</div>
					<div class="border"></div>
				</div>
				<div class="imageWrap">
					<img src="/icons/Weather-Resistance-Ikonica.jpg">
				</div>
			</div>
			<div class="item">
				<div class="textWrap">
					<div class="title">Dugotrajnost</div>
					<div class="text">With no corrosion worries and UV protection, our planters are tough enough to endure various weather conditions, keeping their vibrant colors and impeccable finish intact.</div>
					<div class="border"></div>
				</div>
				<div class="imageWrap">
					<img src="/icons/Durability-Ikonica.jpg">
				</div>
			</div>
			<div class="hiddenProperties" id="hidden-properties">
				<div class="item">
					<div class="textWrap">
						<div class="title">Jačina</div>
						<div class="text">Inspirisane aero i nautičkim inženjeringom, naše saksije izrađene od fiberglasa, donose snagu i pouzdanost svemirskih brodova, aviona i jahti u vaš vrt.</div>
						<div class="border"></div>
					</div>
					<div class="imageWrap">
						<img src="/icons/Strength-Ikonica.jpg">
					</div>
				</div>
				<div class="item">
					<div class="textWrap">
						<div class="title">Ručni rad</div>
						<div class="text">Svaka saksija je ručno izrađena od strane veštih majstora, dodajući poseban pečat jedinstvenosti svakom komadu koji napušta našu radionicu.</div>
						<div class="border"></div>
					</div>
					<div class="imageWrap">
						<img src="/icons/Handcrafted-Ikonica.jpg">
					</div>
				</div>
				<div class="item">
					<div class="textWrap">
						<div class="title">Isplativost</div>
						<div class="text">Sa Terapot sakijama ulažete svoj novac u dugoročno rešenje. U startu naše saksije možda koštaju više u poređenju sa ostalim materijalima, ali zbog svoje neverovatne izdržljivosti traju i do pet puta duže u odnosu na metalne, drvene ili betonske, štedeći vam novac na duže staze.</div>
						<div class="border"></div>
					</div>
					<div class="imageWrap">
						<img src="/icons/Cost-Ikonica.png">
					</div>
				</div>
			</div>
			<div class="expand">
				<div class="icon" onclick="expandProperties(this)">
					<img src="/icons/arrow-down.png">
				</div>
				<script>
					function expandProperties(elem){
						document.getElementById("hidden-properties").style.display="block";
						elem.style.display="none";
					}
				</script>
			</div>
		</div>
		<div class="buttonsWrap">
			<div class="button"><a href="/rs/zasto-fiberglas">PRONAĐI VIŠE</a></div>
		</div>
	</div>
	<div class="circularPots">
		<div class="section">
			<div class="sectionTitle">Kružne saksije</div>
			<div class="sectionSubTitle">| drina | tisa | tara | oblo | round | quadro |</div>
		</div>
		<div class="circularPot">
			<div class="background"><img src="/images/Kruzna-Saksija-Presek-Terapot.jpeg"></div>
			<div class="info"><img src="/images/Kruzna-Saksija-Presek-Informacije.png"></div>
			<div class="textWrap">
				<div class="section">
					<div class="textTitle">Crafting excellence</div>
					<div class="text" style="border-right:1px solid rgba(0,0,0,0.5)">Predstavljamo vam našu kolekciju kružnih saksija napravljenih od visokokvalitetnog fiberglas laminata koji se sastoji iz 4 sloja: fiberglas nautičkog kvaliteta koji saksiji daje snagu i izdržljivost, želkot kao dodatna zaštita od UV zračenja i vlage, prajmer za dodatno ojačanje i na kraju farba za savršen izgled. Otkrijte lepotu, izdržljivost i eleganciju fiberglasa kroz našu raznovrsnu kolekciju kružnih saksija.</div>
				</div>
			</div>
		</div>
		<div class="circularPotResponsive">
			<div class="background"><img src="/images/Circular-Pot-Responsive.jpeg"></div>
			<div class="info"><img src="/images/Circular-Pot-Responsive-Info.png"></div>
		</div>
	</div>
	<div class="rectangularPots">
		<div class="section">
			<div class="sectionTitle">Pravougaone saksije</div>
			<div class="sectionSubTitle">| standard saksije |</div>
		</div>
		<div class="rectangularPot">
			<div class="background"><img src="/images/Presek-Terapot-Saksije.jpeg"></div>
			<div class="info"><img src="/images/Presek-Terapot-Saksije-Informacije.png"></div>
			<div class="textWrap">
				<div class="section">
					<div class="textTitle">Hypercore construction</div>
					<div class="text" style="border-left:1px solid rgb(0,0,0,0.5)">Predstavljamo vam našu kolekciju četvrtastih saksija, ručno izrađenih od specijalnog  Hypercore (Hajperkor) sistema koji se sastoji od polipropilenskog saća u sredini i slojeva fiberglasa (staklenih vlakana) sa obe strane. Korišćenjem ovakvog sistema uspeli smo da elimišemo pucanje i savijanje zidova, dva problema koja se najčešće sreću kod tradicionalnih verzija četvrtastih saksija koje su izrađene samo od poliesterskog laminata.</div>
				</div>
			</div>
		</div>
		<div class="rectangularPotResponsive">
			<div class="background"><img src="/images/Rectangular-Pot-Responsive.jpeg"></div>
			<div class="info"><img src="/images/Rectangular-Pot-Responsive-Info.png"></div>
		</div>
	</div>
</div>
<%- include ("partials/footer") -%>