<%- include ("partials/header") -%>
<script>
	var potJson	=	<%-JSON.stringify(potInfo)%>;
</script>
<div class="potPage" id="pot-page">
	<!--<div class="header" id="pot-header">
		<div class="scrollDown">
			<a href="#pot-buttons"><img src="/icons/arrow-down.png"></a>
		</div>
	</div>
	<script>
		document.getElementById("pot-header").style.backgroundImage = "url(/pots/"+potJson.category+"/header.jpg)";
	</script>-->
	<div id="pot-buttons" class="potButtonsWrap"></div>
	<script>
		for(var i=0;i<potJson.pots.length;i++){
			var potButton	=	document.createElement("DIV");
			potButton.setAttribute("class","potButton");
			potButton.setAttribute("onclick","slideToPot("+i+")")
			potButton.innerHTML = potJson.pots[i].name;
			document.getElementById("pot-buttons").appendChild(potButton);
		}
	</script>
	<div class="slides">
		<div class="slideContainer" id="slide-container">
			<div class="man">
				<img src="/images/potMan.png">
			</div>
			<div class="navigation">
				<div class="nav" onclick="navPotSlide(-1)"><img src="/icons/Arrow-Left.png"></div>
				<div class="nav" onclick="navPotSlide(1)"><img src="/icons/Arrow-Right.png"></div>
			</div>
			<div class="responsiveNavigation" id="pot-lines"></div>
			<script>
				if(potJson.category=="standard"){
					document.getElementById("slide-container").getElementsByClassName("navigation")[0].style.display="none";
					document.getElementById("slide-container").getElementsByClassName("man")[0].style.opacity="0";
					document.getElementById("slide-container").style.backgroundColor="rgb(255,255,255)";
				}
			</script>
		</div>
	</div>
	
	<script>
			for(var i=0;i<potJson.pots.length;i++){
				var navItem	=	document.createElement("DIV");
				navItem.setAttribute("class","navItem");
				document.getElementById("pot-lines").appendChild(navItem);

				var slide = document.createElement("DIV");
				slide.setAttribute("class","slide");
					var imageWrap	=	document.createElement("DIV");
					imageWrap.setAttribute("class","imageWrap");
						var img = document.createElement("IMG");
						if(potJson.category=="standard"){
							img.setAttribute("src","/pots/"+potJson.category+"/0.gif");
						}else{
							img.setAttribute("src","/pots/"+potJson.category+"/"+i+".png");
						}
						
						imageWrap.appendChild(img);

						var infoWrap	=	document.createElement("DIV");
						infoWrap.setAttribute("class","infoWrap");
							var title = document.createElement("DIV");
							title.setAttribute("class","title");
							title.innerHTML	=	potJson.pots[i].name;
							infoWrap.appendChild(title);
							
							var subTitle = document.createElement("DIV");
							subTitle.setAttribute("class","subTitle");
							subTitle.innerHTML	=	potJson.pots[i].type;
							infoWrap.appendChild(subTitle);

							var attributes	=	document.createElement("DIV");
							attributes.setAttribute("class","attributes");
								for(var j=0;j<Object.keys(potJson.pots[i].attributes).length;j++){
									if(j%3==0 && j!=0){
										var breaker = document.createElement("DIV");
										breaker.setAttribute("class","breaker");
										attributes.appendChild(breaker)
									}
									var attribute = document.createElement("DIV");
									attribute.setAttribute("class","attribute");
									attribute.innerHTML	=	Object.keys(potJson.pots[i].attributes)[j]+"<br>"+potJson.pots[i].attributes[Object.keys(potJson.pots[i].attributes)[j]];
									attributes.appendChild(attribute);
								}
							infoWrap.appendChild(attributes);

						imageWrap.appendChild(infoWrap);
					slide.appendChild(imageWrap);
				document.getElementById("slide-container").appendChild(slide);
			}

			var slides = document.getElementById("slide-container").getElementsByClassName("slide");
			var lines = document.getElementById("pot-lines").getElementsByClassName("navItem");
			var buttons = document.getElementById("pot-buttons").getElementsByClassName("potButton");
			var slideWidth = document.getElementById("slide-container").getBoundingClientRect().width;
			/*for(var i=0;i<slides.length;i++){
				slides[i].dataset.active = 0;
				slides[i].style.left = i*slideWidth+"px";
			}
			slides[0].dataset.active = 1;
			lines[0].classList.add("navItemActive");*/

			function slideToPot(index){
				for(var i=0;i<slides.length;i++){
					slides[i].style.left = (i-index)*slideWidth+"px";	
					slides[i].dataset.active = 0;
					lines[i].classList.remove("navItemActive");
					buttons[i].classList.remove("potButtonActive");
				}
				slides[index].dataset.active = 1;
				lines[index].classList.add("navItemActive");
				buttons[index].classList.add("potButtonActive");
			}
			slideToPot(0);

			function navPotSlide(dir){
				var currentIndex = -1;
				for(var i=0;i<slides.length;i++){
					if(slides[i].dataset.active==1){
						currentIndex = i;
						break;
					}
				}
				if(currentIndex>=0){
					var nextIndex = currentIndex + dir;
					if(nextIndex<0){
						//show last pot
						slideToPot(slides.length-1)
					}else if(nextIndex>slides.length-1){
						//show first pot
						slideToPot(0)
					}else{
						//show next pot
						slideToPot(nextIndex);
					}
				}else{
					console.log("Couldnt figure out pot slide");
				}
			}
		</script>
	<div class="responsiveSlides" id="responsive-slides-wrap">
		<div class="breadCrumb"><a href="/">Home</a> | <a href="" id="breadcrumbUrl"></a></div>
		<script>
			document.getElementById("breadcrumbUrl").setAttribute("href","/pots/"+potJson.category);
			document.getElementById("breadcrumbUrl").innerHTML = potJson.collectionName;
		</script>
		<div class="namesWrap">
			<div id="responsive-names"></div>
			<script>
				document.getElementById("responsive-names").style.width = vw*potJson.pots.length + "px";
				for(var i=0;i<potJson.pots.length;i++){
					var nameWrap = document.createElement("DIV");
					nameWrap.setAttribute("class","nameWrap");
					nameWrap.setAttribute("style","left:"+i*vw+"px");
						var title = document.createElement("DIV");
						title.setAttribute("class","title");
						title.innerHTML = potJson.pots[i].name;
						nameWrap.appendChild(title);

						var subTitle = document.createElement("DIV");
						subTitle.setAttribute("class","subTitle");
						subTitle.innerHTML = potJson.pots[i].type;
						nameWrap.appendChild(subTitle);
					document.getElementById("responsive-names").appendChild(nameWrap);
				}
			</script>
		</div>
		<div class="responsiveSlidesWrap">
			<div class="man">
				<img src="/images/potManResponsive.png">
				<div class="responsiveLines" id="responsive-lines"></div>
				<script>
					for(var i=0;i<potJson.pots.length;i++){
						var line	=	document.createElement("DIV");
						line.setAttribute("class","lineWrap");
						document.getElementById("responsive-lines").appendChild(line);
					}
				</script>
			</div>
			<div class="slides" id="responsive-slides"></div>
			<script>
				document.getElementById("responsive-slides").style.width = vw*potJson.pots.length + "px";
				for(var i=0;i<potJson.pots.length;i++){
					var imageWrap = document.createElement("DIV");
					imageWrap.setAttribute("class","imageWrap");
					imageWrap.setAttribute("style","left:"+i*vw+"px");
					if(potJson.category=="standard"){
						imageWrap.innerHTML = "<img src='/pots/"+potJson.category+"/0.gif'>";
					}else{
						imageWrap.innerHTML = "<img src='/pots/"+potJson.category+"/responsive-"+i+".png'>";
					}
					
					document.getElementById("responsive-slides").appendChild(imageWrap);
				}
			</script>
			<div class="types" id="responsive-types"></div>
			<script>
				for(var i=0;i<potJson.pots.length;i++){
					var typeWrap = document.createElement("DIV");
					typeWrap.setAttribute("class","typeWrap");
					typeWrap.setAttribute("onclick","slideToPotResponsive("+i+")")
					typeWrap.innerHTML = potJson.pots[i].name;
					document.getElementById("responsive-types").appendChild(typeWrap);
				}
			</script>
			<div class="section">
				<div class="sectionTitle">Sizes</div>
			</div>
			<div class="tables">
				<div id="dummy-table" style="opacity:0"></div>
				<div id="responsive-tables"></div>
			</div>
			<script>
				document.getElementById("responsive-tables").style.width = vw*potJson.pots.length + "px";
				var tableWrap = document.createElement("DIV");
				tableWrap.setAttribute("class","tableWrap");
					var table = document.createElement("TABLE");
						var tr = document.createElement("TR");
							for(var j=0;j<Object.keys(potJson.pots[0].attributes).length;j++){
								var td = document.createElement("TD");
								td.innerHTML	=	"<div class='value'>"+Object.keys(potJson.pots[0].attributes)[j]+"</div>"
								tr.appendChild(td);
							}
						table.appendChild(tr);
						var tr = document.createElement("TR");
							for(var j=0;j<Object.keys(potJson.pots[0].attributes).length;j++){
								var td = document.createElement("TD");
								td.innerHTML	=	"<div class='value'>"+potJson.pots[0].attributes[Object.keys(potJson.pots[0].attributes)[j]]+"</div>"
								tr.appendChild(td);
							}
						table.appendChild(tr);
					tableWrap.appendChild(table);
				document.getElementById("dummy-table").appendChild(tableWrap);

				for(var i=0;i<potJson.pots.length;i++){
					var tableWrap = document.createElement("DIV");
					tableWrap.setAttribute("class","tableWrap");
					tableWrap.setAttribute("style","left:"+i*vw+"px");
						var tableWrap2 = document.createElement("DIV");
						tableWrap2.setAttribute("class","tableWrap2");
							var table = document.createElement("TABLE");
								var tr = document.createElement("TR");
									for(var j=0;j<Object.keys(potJson.pots[i].attributes).length;j++){
										var td = document.createElement("TD");
										td.innerHTML	=	"<div class='value'>"+Object.keys(potJson.pots[i].attributes)[j]+"</div>"
										tr.appendChild(td);
									}
								table.appendChild(tr);
								var tr = document.createElement("TR");
									for(var j=0;j<Object.keys(potJson.pots[i].attributes).length;j++){
										var td = document.createElement("TD");
										td.innerHTML	=	"<div class='value'>"+potJson.pots[i].attributes[Object.keys(potJson.pots[i].attributes)[j]]+"</div>"
										tr.appendChild(td);
									}
								table.appendChild(tr);
							tableWrap2.appendChild(table);	
						tableWrap.appendChild(tableWrap2);

						

					document.getElementById("responsive-tables").appendChild(tableWrap);
				}
			</script>
		</div>
	</div>
	<script>
		var responsiveSlides = document.getElementById("responsive-slides").getElementsByClassName("imageWrap");
		var responsiveNames = document.getElementById("responsive-names").getElementsByClassName("nameWrap");
		var responsiveTypes = document.getElementById("responsive-types").getElementsByClassName("typeWrap");
		var responsiveTables = document.getElementById("responsive-tables").getElementsByClassName("tableWrap");
		var responsiveLines = document.getElementById("responsive-lines").getElementsByClassName("lineWrap");
		var responsiveSlideWidth = document.getElementsByClassName("responsiveSlidesWrap")[0].getBoundingClientRect().width;

		function slideToPotResponsive(index){
			for(var i=0;i<responsiveSlides.length;i++){
				responsiveSlides[i].style.left = (i-index)*responsiveSlideWidth+"px";	
				responsiveSlides[i].dataset.active = 0;
			}
			responsiveSlides[index].dataset.active = 1;
			for(var i=0;i<responsiveNames.length;i++){
				responsiveNames[i].style.left = (i-index)*responsiveSlideWidth+"px";	
			}
			for(var i=0;i<responsiveTypes.length;i++){
				responsiveTypes[i].classList.remove("typeWrapActive");	
			}
			responsiveTypes[index].classList.add("typeWrapActive");
			for(var i=0;i<responsiveLines.length;i++){
				responsiveLines[i].classList.remove("lineWrapActive");	
			}
			responsiveLines[index].classList.add("lineWrapActive");
			for(var i=0;i<responsiveTables.length;i++){
				responsiveTables[i].style.left = (i-index)*responsiveSlideWidth+"px";	
			}
		}
		slideToPotResponsive(0);

		function navPotSlideResponsive(dir){
			var currentIndex = -1;
			for(var i=0;i<responsiveSlides.length;i++){
				if(responsiveSlides[i].dataset.active==1){
					currentIndex = i;
					break;
				}
			}
			if(currentIndex>=0){
				var nextIndex = currentIndex + dir;
				if(nextIndex<0){
					//show last pot
					slideToPotResponsive(responsiveSlides.length-1)
				}else if(nextIndex>slides.length-1){
					//show first pot
					slideToPotResponsive(0)
				}else{
					//show next pot
					slideToPotResponsive(nextIndex);
				}
			}else{
				console.log("Couldnt figure out pot slide");
			}
		}

		function handleTouchStartPots(evt) {
		    const firstTouch = getTouches(evt)[0];                                      
		    xDown = firstTouch.clientX;                                      
		    yDown = firstTouch.clientY;                                      
		};                                                
		                                                                         
		function handleTouchMovePots(evt) {
		    if ( ! xDown || ! yDown ) {
		        return;
		    }

		    var xUp = evt.touches[0].clientX;                                    
		    var yUp = evt.touches[0].clientY;

		    var xDiff = xDown - xUp;
		    var yDiff = yDown - yUp;
		                                                                         
		    if ( Math.abs( xDiff ) > Math.abs( yDiff ) ) {/*most significant*/
		        if ( xDiff > 0 ) {
		            /* right swipe */ 
		           navPotSlideResponsive(1)
		        } else {
		            /* left swipe */
		           navPotSlideResponsive(-1)
		        }                       
		    }
		    /* reset values */
		    xDown = null;
		    yDown = null;                                             
		};
		document.getElementById("responsive-slides-wrap").addEventListener('touchstart', handleTouchStartPots, false);        
		document.getElementById("responsive-slides-wrap").addEventListener('touchmove', handleTouchMovePots, false);
	</script>
	<div class="newPotGalleryWrap">
		<div class="potGalleryBlackWrap">
			<div id="pot-gallery-black"></div>
			<script>
				if(Number(potJson.gallerySize)>0){
					var dummy = document.createElement("DIV");
					dummy.setAttribute("class","dummy");//used to give height
					dummy.innerHTML = "<img src='/pots/"+potJson.category+"/gallery/gallery-0-black.jpg'>";
					document.getElementById("pot-gallery-black").appendChild(dummy);

					var imageSize = document.getElementById("pot-gallery-black").getElementsByClassName("dummy")[0].getBoundingClientRect().width;
					console.log(imageSize)
					var imageWrap	=	document.createElement("DIV");
					imageWrap.setAttribute("class","imageWrap");
					imageWrap.setAttribute("style","left:-"+imageSize+"px");
					imageWrap.innerHTML	=	"<img src='/pots/"+potJson.category+"/gallery/gallery-"+eval(Number(potJson.gallerySize-2))+"-black.jpg'>";
					document.getElementById("pot-gallery-black").appendChild(imageWrap);

					var imageWrap	=	document.createElement("DIV");
					imageWrap.setAttribute("class","imageWrap");
					imageWrap.setAttribute("style","left:0px");
					imageWrap.innerHTML	=	"<img src='/pots/"+potJson.category+"/gallery/gallery-"+eval(Number(potJson.gallerySize-1))+"-black.jpg'>";
					document.getElementById("pot-gallery-black").appendChild(imageWrap);

					for(var i=0;i<3;i++){
						var imageWrap	=	document.createElement("DIV");
						imageWrap.setAttribute("class","imageWrap");
						imageWrap.setAttribute("style","left:"+eval((i+1)*imageSize)+"px");
						imageWrap.innerHTML	=	"<img src='/pots/"+potJson.category+"/gallery/gallery-"+i+"-black.jpg'>";
						document.getElementById("pot-gallery-black").appendChild(imageWrap);
					}
					var currentPotBlackSlide = 0;
					var totalSlides = Number(potJson.gallerySize);
					function moveBlackSlides(){
						var slides = document.getElementById("pot-gallery-black").getElementsByClassName("imageWrap");
						slides[0].remove();
						imageSize = document.getElementById("pot-gallery-black").getElementsByClassName("dummy")[0].getBoundingClientRect().width;
						currentPotBlackSlide++;
						if(currentPotBlackSlide>eval(totalSlides-1)){
							currentPotBlackSlide = 0;
						}
						var nextPotSlide = currentPotBlackSlide + 2>=totalSlides ? 0 : currentPotBlackSlide+2; //offset is 2 because the next one is already visible;
						var lastLeft = Number(slides[slides.length-1].style.left.split("p")[0]);
						var imageWrap	=	document.createElement("DIV");
						imageWrap.setAttribute("class","imageWrap");
						imageWrap.setAttribute("style","left:"+eval(lastLeft+imageSize)+"px");
						imageWrap.innerHTML	=	"<img src='/pots/"+potJson.category+"/gallery/gallery-"+nextPotSlide+"-black.jpg'>";
						document.getElementById("pot-gallery-black").appendChild(imageWrap);
						for(var i=0;i<slides.length;i++){
							slides[i].style.left = eval(slides[i].style.left.split("p")[0] - imageSize) + "px";
						}
					}

					//setInterval(moveBlackSlides,4000)	
				}
				
			
			</script>
		</div>
		<div class="potGalleryWrap">
			<div id="pot-gallery"></div>
			<script>
				if(Number(potJson.gallerySize)>0){
					var dummy = document.createElement("DIV");
					dummy.setAttribute("class","dummy");//used to give height
					dummy.innerHTML = "<img src='/pots/"+potJson.category+"/gallery/gallery-0.jpg'>";
					document.getElementById("pot-gallery").appendChild(dummy);

					var imageSize = document.getElementById("pot-gallery").getElementsByClassName("dummy")[0].getBoundingClientRect().width;
					var imageWrap	=	document.createElement("DIV");
					imageWrap.setAttribute("class","imageWrap");
					imageWrap.setAttribute("style","left:-"+imageSize+"px");
					imageWrap.innerHTML	=	"<img src='/pots/"+potJson.category+"/gallery/gallery-"+eval(Number(potJson.gallerySize-1))+".jpg'>";
					document.getElementById("pot-gallery").appendChild(imageWrap);

					var imageWrap	=	document.createElement("DIV");
					imageWrap.setAttribute("class","imageWrap");
					imageWrap.setAttribute("style","left:0px");
					imageWrap.innerHTML	=	"<img src='/pots/"+potJson.category+"/gallery/gallery-0.jpg'>";
					document.getElementById("pot-gallery").appendChild(imageWrap);

					var imageWrap	=	document.createElement("DIV");
					imageWrap.setAttribute("class","imageWrap");
					imageWrap.setAttribute("style","left:"+imageSize+"px");
					imageWrap.innerHTML	=	"<img src='/pots/"+potJson.category+"/gallery/gallery-1.jpg'>";
					document.getElementById("pot-gallery").appendChild(imageWrap);

					var currentPotSlide = 0;
					var totalSlides = Number(potJson.gallerySize);
					function moveSlides(){
						var slides = document.getElementById("pot-gallery").getElementsByClassName("imageWrap");
						slides[0].remove();
						imageSize = document.getElementById("pot-gallery").getElementsByClassName("dummy")[0].getBoundingClientRect().width;
						currentPotSlide++;
						if(currentPotSlide>totalSlides-1){
							currentPotSlide = 0;
						}
						var nextPotSlide = currentPotSlide + 1>=totalSlides ? 0 : currentPotSlide+1;
						var lastLeft = Number(slides[slides.length-1].style.left.split("p")[0]);
						var imageWrap	=	document.createElement("DIV");
						imageWrap.setAttribute("class","imageWrap");
						imageWrap.setAttribute("style","left:"+eval(lastLeft+imageSize)+"px");
						imageWrap.innerHTML	=	"<img src='/pots/"+potJson.category+"/gallery/gallery-"+nextPotSlide+".jpg'>";
						document.getElementById("pot-gallery").appendChild(imageWrap);
						for(var i=0;i<slides.length;i++){
							slides[i].style.left = eval(slides[i].style.left.split("p")[0] - imageSize) + "px";
						}
						var dots = document.getElementById("gallery-nav").getElementsByClassName("dot");
						for(var i=0;i<dots.length;i++){
							dots[i].classList.remove("dotActive");
						}
						dots[currentPotSlide].classList.add("dotActive")
					}

					//setInterval(moveSlides,4000)	
				}
				
			</script>
		</div>
		<div class="leftWhite"></div>
		<div class="rightWhite"></div>
		<div class="potGalleryNavigation" id="gallery-nav"></div>
		<script>
			for(var i=0;i<Number(potJson.gallerySize);i++){
				var dot = document.createElement("DIV");
				dot.setAttribute("class","dot");
				if(i==0){
					dot.classList.add("dotActive");
				}
				document.getElementById("gallery-nav").appendChild(dot);
			}
		</script>
	</div>
</div>
<%- include ("partials/footer") -%>