<%- include ("partials/header") -%>
<div class="whyFiberglassPage">
	<div class="section">
		<div class="sectionTitle">Razlika u materijalima</div>
		<div class="sectionSubTitle">| drvo | beton | metal | plastika |</div>
	</div>
	<div class="imageText">
		<div class="textWrap">
			<div class="textWrap2">
				<div class="title">Drvene saksije</div>
				<div class="text">Drvene saksije su odličan izbor kada je u pitanju prirodan izgled saksija i u tom pogledu su nezamenljiva opcija. Najveći nedostatak drvenih saksija je njihova otpornost na vremenske uslove, kao i održavanje koje je neophodno za produženje njihovog veka trajanja. U vlažnim uslovima, kako u samoj saksiji tako i oko nje, drvo nije najbolji izbor zbog sklonosti ka truljenju, a na spoljašnjoj strani saksije potrebno je svake godine naneti novu zaštitu kako bi se zadržao prvobitan izgled i produžio njen životni vek.</div>
			</div>
		</div>
		<div class="image" style="background-image:url(/images/wooden-pot.jpg)"></div>
	</div>
	<div class="textImage">
		<div class="textWrap">
			<div class="textWrap2">
				<div class="title">Betonske saksije</div>
				<div class="text concrete">Po prodajnoj ceni, betonske saksije nemaju konkurenciju. Sa izuzetnom otpornošću, minimalnim održavanjem i relativnom veličinom, one su najpristupačnija opcija. Najčešći nedostatak betonskih saksija pored ogromne težine, je i sam izgled. Spadaju u kategoriju saksija sa veoma ograničenih mogućnosti završne obrade kao i relativno grubih površina.</div>
			</div>
		</div>
		<div class="image" style="background-image:url(/images/concrete-pot.jpg)"></div>
	</div>
	<div class="imageText">
		<div class="textWrap">
			<div class="textWrap2">
				<div class="title">Metalne saksije</div>
				<div class="text">Kada su u pitanju saksije veće zapremine, metalne saksije su najčešći izbor na tržištu. Razlog tome je prihvatljiva cena u odnosu na veličinu, kao i relativno dobar izbor završne obrade. Najveći nedostatak metalnih saksija je korozija koja nastaje usled dugotrajnog izlaganja vlažnoj sredini. Bez obzira na način zaštite, u praksi se pokazalo da otpornost metalnih saksija na koroziju traje u proseku godinu dana. Nakon toga potrebno je popraviti i primeniti novu zaštitu na delovima na kojima se pojavila korozija. Pored toga, u slučajevima kada je težina saksije važna, one su u najgorem položaju.</div>
			</div>
		</div>
		<div class="image" style="background-image:url(/images/metal-pot.jpg)"></div>
	</div>
	<div class="textImage">
		<div class="textWrap">
			<div class="textWrap2">
				<div class="title">Plastične saksije</div>
				<div class="text concrete">Plastične saksije koje se mogu pronaći na tržištu najčešće se izrađuju tehnologijom rotacionog izlivanja od PE plastike (polietilen). Iako veoma izdržljiva i otporne na udarce, završna površina izgleda prilično oskudno. Ovaj tip plastike je osetljiv na UV zračenje, pa nakon nekoliko godina postaje krhk i podložan pucanju. U pogledu cene, ovo je svakako najpristupačnija kategorija koja se može uklopiti čak i u najmanji budžet.</div>
			</div>
		</div>
		<div class="image" style="background-image:url(/images/plastic-pot.jpg)"></div>
	</div>
	<div class="bigImage">
		<div class="imageWrap">
			<img src="/images/Terapot-Radionica.jpg">
		</div>
	</div>
	<div class="section">
		<div class="textByText">
			<div class="textLeft">
				<div class="title">Šta je fiberglas?</div>
				<div class="text">Fiberglass je kompozitni materijal napravljen od poliesterske smole i staklenih vlakana. Specifičnost ovog materijala je u relativnoj čvrstoći u odnosu na težinu, ali i otpornosti na najagresivnije uslove. Upravo je to jedan od razloga zašto se najčešće koristi u izgradnji glisera, jahti i u vazduhoplovnoj industriji. Kao najočigledniji dokaz otpornosti i izdržljivosti fiberglasa možemo videti glisere koji su bili izloženi najagresivnijim vremenskim uslovima (slana voda, jako sunce, niske temperature) preko 20 godina bez većih promena.</div>
			</div>
			<div class="textRight">
				<div class="title">Cene saksija</div>
				<div class="text">Cena fiberglasa, osim što zavisi od kvalitetne sirovine od koje je napravljena, u većoj meri zavisi i od samog načina izrade. Sve saksije se izrađuju ručno kroz komplikovan proizvodni proces, uz naknadnu detaljnu i finu obradu kako bi se dobila izuzetna završna obrada površine. Proces proizvodnje saksija od fiberglasa obuhvata izradu skupih kalupa, pripremu kalupa, pripremu materijala, ručno livenje, obradu saksija, pripremu za farbanje i farbanje auto-lakovima u komori. Da bi se dobio kvalitet, nijedan od ovih procesa se ne može skratiti ili ubrzati, a to podrazumeva relativno veliki broj radnih sati ručnog rada svakog zaposlenog da bi se svaka saksija dovela do savršenstva.</div>
			</div>
		</div>
		<div class="sectionTitle materialQualitiesTitle">Kvalitet materijala</div>
		<div class="materials">
			<div class="contents">
				<div class="tables">
					<div class="table">
						<div class="title">DRVENE SAKSIJE</div>
						<div class="row">
							<div class="background"></div>
							<div class="fill" style="width:39%"></div>
							<div class="text">JAČINA</div>
						</div>
						<div class="row">
							<div class="background"></div>
							<div class="fill" style="width:44%"></div>
							<div class="text">TEŽINA</div>
						</div>
						<div class="row">
							<div class="background"></div>
							<div class="fill" style="width:27%"></div>
							<div class="text">OTPORNOST NA VODU</div>
						</div>
						<div class="row">
							<div class="background"></div>
							<div class="fill" style="width:37%"></div>
							<div class="text">OTPORNOST NA UV</div>
						</div>
						<div class="row">
							<div class="background"></div>
							<div class="fill" style="width:23%"></div>
							<div class="text">IZDRŽLJIVOST</div>
						</div>
						<div class="row">
							<div class="background"></div>
							<div class="fill" style="width:50%"></div>
							<div class="text">ZAVRŠNI TRETMAN</div>
						</div>
						<div class="row">
							<div class="background"></div>
							<div class="fill" style="width:31%"></div>
							<div class="text">CENA</div>
						</div>
					</div>

					<div class="table">
						<div class="title">BETONSKE SAKSIJE</div>
						<div class="row">
							<div class="background"></div>
							<div class="fill" style="width:75%"></div>
							<div class="text">JAČINA</div>
						</div>
						<div class="row">
							<div class="background"></div>
							<div class="fill" style="width:100%"></div>
							<div class="text">TEŽINA</div>
						</div>
						<div class="row">
							<div class="background"></div>
							<div class="fill" style="width:60%"></div>
							<div class="text">OTPORNOST NA VODU</div>
						</div>
						<div class="row">
							<div class="background"></div>
							<div class="fill" style="width:100%"></div>
							<div class="text">OTPORNOST UV</div>
						</div>
						<div class="row">
							<div class="background"></div>
							<div class="fill" style="width:95%"></div>
							<div class="text">IZDRŽLJIVOST</div>
						</div>
						<div class="row">
							<div class="background"></div>
							<div class="fill" style="width:30%"></div>
							<div class="text">ZAVRŠNI TRETMAN</div>
						</div>
						<div class="row">
							<div class="background"></div>
							<div class="fill" style="width:40%"></div>
							<div class="text">CENA</div>
						</div>
					</div>

					<div class="table">
						<div class="title">METALNE SAKSIJE</div>
						<div class="row">
							<div class="background"></div>
							<div class="fill" style="width:85%"></div>
							<div class="text">JAČINA</div>
						</div>
						<div class="row">
							<div class="background"></div>
							<div class="fill" style="width:90%"></div>
							<div class="text">TEŽINA</div>
						</div>
						<div class="row">
							<div class="background"></div>
							<div class="fill" style="width:40%"></div>
							<div class="text">OTPORNOST NA VODU</div>
						</div>
						<div class="row">
							<div class="background"></div>
							<div class="fill" style="width:95%"></div>
							<div class="text">OTPORNOST NA UV</div>
						</div>
						<div class="row">
							<div class="background"></div>
							<div class="fill" style="width:45%"></div>
							<div class="text">IZDRŽLJIVOST</div>
						</div>
						<div class="row">
							<div class="background"></div>
							<div class="fill" style="width:90%"></div>
							<div class="text">ZAVRŠNI TRETMAN</div>
						</div>
						<div class="row">
							<div class="background"></div>
							<div class="fill" style="width:65%"></div>
							<div class="text">CENA</div>
						</div>
					</div>

					<div class="table">
						<div class="title">PLASTIČNE SAKSIJE</div>
						<div class="row">
							<div class="background"></div>
							<div class="fill" style="width:60%"></div>
							<div class="text">JAČINA</div>
						</div>
						<div class="row">
							<div class="background"></div>
							<div class="fill" style="width:40%"></div>
							<div class="text">TEŽINA</div>
						</div>
						<div class="row">
							<div class="background"></div>
							<div class="fill" style="width:95%"></div>
							<div class="text">OTPORNOST NA VODU</div>
						</div>
						<div class="row">
							<div class="background"></div>
							<div class="fill" style="width:35%"></div>
							<div class="text">OTPORNOST NA UV</div>
						</div>
						<div class="row">
							<div class="background"></div>
							<div class="fill" style="width:50%"></div>
							<div class="text">IZDRŽLJIVOST</div>
						</div>
						<div class="row">
							<div class="background"></div>
							<div class="fill" style="width:65%"></div>
							<div class="text">ZAVRŠNI TRETMAN</div>
						</div>
						<div class="row">
							<div class="background"></div>
							<div class="fill" style="width:20%"></div>
							<div class="text">CENA</div>
						</div>
					</div>

					<div class="table">
						<div class="title">FIBERGLAS SAKSIJE</div>
						<div class="row">
							<div class="background"></div>
							<div class="fill" style="width:95%"></div>
							<div class="text">JAČINA</div>
						</div>
						<div class="row">
							<div class="background"></div>
							<div class="fill" style="width:40%"></div>
							<div class="text">TEŽINA</div>
						</div>
						<div class="row">
							<div class="background"></div>
							<div class="fill" style="width:100%"></div>
							<div class="text">OTPORNOST NA VODU</div>
						</div>
						<div class="row">
							<div class="background"></div>
							<div class="fill" style="width:95%"></div>
							<div class="text">OTPORNOST NA UV</div>
						</div>
						<div class="row">
							<div class="background"></div>
							<div class="fill" style="width:85%"></div>
							<div class="text">IZDRŽLJIVOST</div>
						</div>
						<div class="row">
							<div class="background"></div>
							<div class="fill" style="width:100%"></div>
							<div class="text">ZAVRŠNI TRETMAN</div>
						</div>
						<div class="row">
							<div class="background"></div>
							<div class="fill" style="width:80%"></div>
							<div class="text">CENA</div>
						</div>
					</div>	
				</div>	
			</div>
		</div>
	</div>
</div>
<%- include ("partials/footer") -%>