<%- include ("partials/header") -%>
<div class="whyFiberglassPage">
	<div class="section">
		<div class="sectionTitle">Difference in material</div>
	</div>
	<div class="imageText">
		<div class="textWrap">
			<div class="textWrap2">
				<div class="title">Wooden pots</div>
				<div class="text">Wooden planters are a great choice when it comes to a natural look and in this regard they are an irreplaceable option. Depending on the construction, they are really strong and of medium weight. The biggest disadvantage of wooden planters is their resistance to weather conditions, as well as the maintenance that is necessary to extend their life. In very aggressive conditions, both in the planter itself and around it, wood is not the best choice due to its tendency to rot in wet conditions, and on the outside of the planter, it is necessary to apply a new protection every year in order to maintain the appearance and extend its life.</div>
			</div>
		</div>
		<div class="image" style="background-image:url(/images/wooden-pot.jpg)"></div>
	</div>
	<div class="textImage">
		<div class="textWrap">
			<div class="textWrap2">
				<div class="title">Concrete pots</div>
				<div class="text concrete">In terms of price, concrete planters have no competition. With exceptional resistance, minimal maintenance and relative size, they are the most affordable option. The most common disadvantage of concrete pots - planters, in addition to the enormous weight, is the appearance itself in terms of very limited finishing options as well as relatively rough surfaces.</div>
			</div>
		</div>
		<div class="image" style="background-image:url(/images/concrete-pot.jpg)"></div>
	</div>
	<div class="imageText">
		<div class="textWrap">
			<div class="textWrap2">
				<div class="title">Metal pots</div>
				<div class="text">When it comes to pots of larger volume, metal planters are the most common planters of this type on the market. The reason for this is the acceptable price in relation to the size of the pot, as well as a relatively good choice of finish. The biggest drawback of metal planters is corrosion that occurs due to long-term exposure to a humid environment. Regardless of the method of protection, in practice it has been shown that the resistance of metal pots to corrosion is a maximum of one year. After that, it is necessary to repair and apply a new protection on the parts where corrosion has appeared. In addition, in cases where the weight of the planter is important, metal planters are in the worst position.</div>
			</div>
		</div>
		<div class="image" style="background-image:url(/images/metal-pot.jpg)"></div>
	</div>
	<div class="textImage">
		<div class="textWrap">
			<div class="textWrap2">
				<div class="title">Plastic pots</div>
				<div class="text concrete">Plastic pots that can be found on the market are most often made by roto-casting technology from PE plastic (polyethylene). Although very tough and impact-resistant, the finish looks rather sparse. This type of plastic is sensitive to UV radiation, so after a few years it becomes brittle and prone to cracking. In terms of price, this is by far the most affordable category that can fit into even the smallest budget.</div>
			</div>
		</div>
		<div class="image" style="background-image:url(/images/plastic-pot.jpg)"></div>
	</div>
	<div class="bigImage">
		<div class="imageWrap">
			<img src="/images/Terapot-Radionica.jpg">
		</div>
	</div>
	<div class="section">
		<div class="textByText">
			<div class="textLeft">
				<div class="title">What is fiberglass?</div>
				<div class="text">Fiberglass is a composite material made of polyester resin and glass fibers. The specificity of this material lies in its relative strength in relation to its weight, but also its resistance to the most aggressive conditions. This is precisely one of the reasons why it is most often used in the construction of speedboats, yachts and the aviation industry. As the most obvious proof of the resistance and durability of fiberglass, we can see speedboats that have been exposed to the most aggressive weather conditions (salt water, strong sun, low temperatures) for over 20 years without major changes.</div>
			</div>
			<div class="textRight">
				<div class="title">Price of fiberglass pots</div>
				<div class="text">The price of fiberglass pots, apart from depending on the high-quality raw material from which it is made, also depends to a greater extent on the manufacturing method itself. All planters are made by hand through a complicated production process, with subsequent detailed and fine processing to obtain an exceptional surface finish. The production process of fiberglass pots includes making expensive molds, mold preparation, material preparation, hand casting, processing of planters, preparation for painting and painting with auto lacquers in the chamber. In order to obtain quality, none of these processes can be shortened or accelerated, and this implies a relatively large number of man-hours of manual labor to each perfect planter.position.</div>
			</div>
		</div>
		<div class="sectionTitle">Material qualities</div>
		<div class="materials">
			<div class="contents">
				<div class="tables">
					<div class="table">
						<div class="title">WOODEN PLANTERS</div>
						<div class="row">
							<div class="background"></div>
							<div class="fill" style="width:39%"></div>
							<div class="text">STRENGTH</div>
						</div>
						<div class="row">
							<div class="background"></div>
							<div class="fill" style="width:44%"></div>
							<div class="text">WEIGHT</div>
						</div>
						<div class="row">
							<div class="background"></div>
							<div class="fill" style="width:27%"></div>
							<div class="text">RESISTANCE TO WATER</div>
						</div>
						<div class="row">
							<div class="background"></div>
							<div class="fill" style="width:37%"></div>
							<div class="text">RESISTANCE TO UV</div>
						</div>
						<div class="row">
							<div class="background"></div>
							<div class="fill" style="width:23%"></div>
							<div class="text">DURABILITY</div>
						</div>
						<div class="row">
							<div class="background"></div>
							<div class="fill" style="width:50%"></div>
							<div class="text">FINAL TREATMENT</div>
						</div>
						<div class="row">
							<div class="background"></div>
							<div class="fill" style="width:31%"></div>
							<div class="text">PRICE</div>
						</div>
					</div>

					<div class="table">
						<div class="title">CONCRETE PLANTERS</div>
						<div class="row">
							<div class="background"></div>
							<div class="fill" style="width:75%"></div>
							<div class="text">STRENGTH</div>
						</div>
						<div class="row">
							<div class="background"></div>
							<div class="fill" style="width:100%"></div>
							<div class="text">WEIGHT</div>
						</div>
						<div class="row">
							<div class="background"></div>
							<div class="fill" style="width:60%"></div>
							<div class="text">RESISTANCE TO WATER</div>
						</div>
						<div class="row">
							<div class="background"></div>
							<div class="fill" style="width:100%"></div>
							<div class="text">RESISTANCE TO UV</div>
						</div>
						<div class="row">
							<div class="background"></div>
							<div class="fill" style="width:95%"></div>
							<div class="text">DURABILITY</div>
						</div>
						<div class="row">
							<div class="background"></div>
							<div class="fill" style="width:30%"></div>
							<div class="text">FINAL TREATMENT</div>
						</div>
						<div class="row">
							<div class="background"></div>
							<div class="fill" style="width:40%"></div>
							<div class="text">PRICE</div>
						</div>
					</div>

					<div class="table">
						<div class="title">METAL PLANTERS</div>
						<div class="row">
							<div class="background"></div>
							<div class="fill" style="width:85%"></div>
							<div class="text">STRENGTH</div>
						</div>
						<div class="row">
							<div class="background"></div>
							<div class="fill" style="width:90%"></div>
							<div class="text">WEIGHT</div>
						</div>
						<div class="row">
							<div class="background"></div>
							<div class="fill" style="width:40%"></div>
							<div class="text">RESISTANCE TO WATER</div>
						</div>
						<div class="row">
							<div class="background"></div>
							<div class="fill" style="width:95%"></div>
							<div class="text">RESISTANCE TO UV</div>
						</div>
						<div class="row">
							<div class="background"></div>
							<div class="fill" style="width:45%"></div>
							<div class="text">DURABILITY</div>
						</div>
						<div class="row">
							<div class="background"></div>
							<div class="fill" style="width:90%"></div>
							<div class="text">FINAL TREATMENT</div>
						</div>
						<div class="row">
							<div class="background"></div>
							<div class="fill" style="width:65%"></div>
							<div class="text">PRICE</div>
						</div>
					</div>

					<div class="table">
						<div class="title">PLASTIC PLANTERS</div>
						<div class="row">
							<div class="background"></div>
							<div class="fill" style="width:60%"></div>
							<div class="text">STRENGTH</div>
						</div>
						<div class="row">
							<div class="background"></div>
							<div class="fill" style="width:40%"></div>
							<div class="text">WEIGHT</div>
						</div>
						<div class="row">
							<div class="background"></div>
							<div class="fill" style="width:95%"></div>
							<div class="text">RESISTANCE TO WATER</div>
						</div>
						<div class="row">
							<div class="background"></div>
							<div class="fill" style="width:35%"></div>
							<div class="text">RESISTANCE TO UV</div>
						</div>
						<div class="row">
							<div class="background"></div>
							<div class="fill" style="width:50%"></div>
							<div class="text">DURABILITY</div>
						</div>
						<div class="row">
							<div class="background"></div>
							<div class="fill" style="width:65%"></div>
							<div class="text">FINAL TREATMENT</div>
						</div>
						<div class="row">
							<div class="background"></div>
							<div class="fill" style="width:20%"></div>
							<div class="text">PRICE</div>
						</div>
					</div>

					<div class="table">
						<div class="title">FIBERGLASS PLANTERS</div>
						<div class="row">
							<div class="background"></div>
							<div class="fill" style="width:95%"></div>
							<div class="text">STRENGTH</div>
						</div>
						<div class="row">
							<div class="background"></div>
							<div class="fill" style="width:40%"></div>
							<div class="text">WEIGHT</div>
						</div>
						<div class="row">
							<div class="background"></div>
							<div class="fill" style="width:100%"></div>
							<div class="text">RESISTANCE TO WATER</div>
						</div>
						<div class="row">
							<div class="background"></div>
							<div class="fill" style="width:95%"></div>
							<div class="text">RESISTANCE TO UV</div>
						</div>
						<div class="row">
							<div class="background"></div>
							<div class="fill" style="width:85%"></div>
							<div class="text">DURABILITY</div>
						</div>
						<div class="row">
							<div class="background"></div>
							<div class="fill" style="width:100%"></div>
							<div class="text">FINAL TREATMENT</div>
						</div>
						<div class="row">
							<div class="background"></div>
							<div class="fill" style="width:80%"></div>
							<div class="text">PRICE</div>
						</div>
					</div>	
				</div>	
			</div>
		</div>
	</div>
</div>
<%- include ("partials/footer") -%>